html {

    background-color:black;
}

h1 {

    font-size: 50px;
    color: green;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    font-family:'Courier New', Courier, monospace;

}

h2 {

    font-size: 30px;
    color: green;
    font-weight: 300;
    text-align: left;
    margin-bottom: 15px;
    font-family:'Courier New', Courier, monospace;

}

h3 {

    font-size: 25px;
    color: green;
    font-weight: 300;
    text-align: left;
    margin-bottom: 15px;
    font-family:'Courier New', Courier, monospace;

}

a {

    font-size: 17px;
    color: green;
    font-weight: 300;
    text-align: left;
    margin-bottom: 15px;
    font-family:'Courier New', Courier, monospace;


}

p {

    font-size: 14px;
    color: green;
    font-weight: 300;
    text-align: left;
    margin-bottom: 15px;
    font-family:'Courier New', Courier, monospace;


}


  a:link {
    color: darkblue;
  }
  

  /* mouse over link */
  a:hover {
    color: darkcyan;
  }
  
  /* selected link */
  a:active {
    color: darkblue;
  }

  .projects {

    padding-left: 4%;

  }

  .infos {

    padding-left: 4%;

  }

  #projectcontainer {

    padding-bottom: 20%;

  }

  #infocontainer {

    padding-bottom: 20%;

  }
  
  .projectimage {

    border-radius: 10px;

  }

  #cursor p::after {
    content: "";
    width: 7px;
    height: 14px;
    background: green;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;

  }

   #cursor p {
    align-items: center;
    gap: 2px;
  }

  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }