<div id="contact">
    <a href="https://discord.gg/dNdyWEmWhA" class="link">discord</a>
    <a href="https://github.com/The-Ducks-Code" class="link">github</a>
    <a href="mailto:duccman99@gmail.com" class="link">email</a>
</div> 
<br>
<div class="seekerring-frame">
    <style>
    :root {
        --seekerwidth: 25rem; 
        --seekerheight: 4.5rem;
    }
    </style>
    <link rel="stylesheet" href="https://ring.truthofseekers.net/assets/css/seekerframe.css">
    <iframe src="https://ring.truthofseekers.net/embed/duck.html"></iframe>
</div>