<!DOCTYPE html>
<html lang="en">

<head>
    
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WWNF2VN');</script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1455382176703207"
        crossorigin="anonymous"></script>
    
    <!-- Primary Meta Tags -->
    <title>{{ page.title }} – {{ site.title }}</title>
    <meta name="title" content="The Duck">
    <meta name="description" content="" "Quack Quack">


    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/cookie.css" />
</head>
<body>
    
</body>
<
</html>
