<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ site.title }} - {{ page.title }}</title>
        <meta name="description" content="portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://webring.mesagrey.ca/webring/boredring.css">
        <link rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}">
        <script src="{{ "assets/js/random.js" | relative_url }}"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
      </head>
    <body class="crt" onload="typeWriter();">
        <h1 id="title1"></h1>
        <span id="cursor"><p style="text-align: center;" id="description"></p></span>
        <br>
          <div class="title">
            {% capture badges_marquee %}
              {% for image in site.static_files %}
                {% if image.path contains '/images/badges/' %}
                  {% assign suffix = image.path | remove: '/images/badges/' %}
                  {% unless suffix contains '/' %}
                    <img id="badge" src="{{ image.path }}" alt="{{ image.name }}" width="132px" height="46.5px">
                  {% endunless %}
                {% endif %}
              {% endfor %}
            {% endcapture %}
            <div class="badge-marquee badge-marquee--right" data-speed="7" style="padding-top:5px">
              <div class="badge-track">
                {{ badges_marquee }}
                {{ badges_marquee }}
              </div>
            </div>
          </div>
        <br>
        <br>
        <div id="main">
        {% include breadcrumbs.html %}

        {{ content }}

        <script>
            var ti = 0;
            var di = 0;
            var mbi = 0;
            var titletxt = 'The Duck'; /* The text */
            var titlespeed = 100; /* The speed/duration of the effect in milliseconds */
            var desctxt = sentences[Math.floor(Math.random()*sentences.length)];
            var descspeed = 50; /* The speed/duration of the effect in milliseconds */
            var rbspeed = 50; /* The speed/duration of the effect in milliseconds */
            var recentbs = ""; /* The text */


            function typeWriter() {
              if (ti < titletxt.length) {
                document.getElementById("title1").innerHTML += titletxt.charAt(ti);
                ti++;
                setTimeout(typeWriter, titlespeed);
              }else if (di < desctxt.length) {
                document.getElementById("description").innerHTML += desctxt.charAt(di);
                di++;
                setTimeout(typeWriter, descspeed);
              }else if (mbi < recentbs.length) {
                document.getElementById("mbtitle").innerHTML += recentbs.charAt(mbi);
                mbi++;
                setTimeout(typeWriter, recentbs);
              }
            }
            console.log("🦆");
        </script>
        
        {% include contact.html %}
        {% include copyright.html %}
      </div>
      </body>
</html>
